<div class="col-md-9">

        <div class="profile-content">
          <div class="card border-light mb-3" style="max-width: 60rem;">
  <div class="card-header">Basic Info</div>
  <div class="card-body">
    <h4 class="card-title">{{user|json}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="edit" href="#">Edit </a></h4>
    <h5 class="card-title">Business Tagline&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="edit" href="#">Edit </a></h5>
    <p class="card-text">We are a company suppplying household items.....&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="edit" href="#">Edit </a></p>
  </div>
</div>
<div class="card border-light mb-3" style="max-width: 60rem;">
<div class="card-header">Contact Details</div>
<div class="card-body">
  <strong>Address:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="edit" href="#">Edit </a><br><br>
  <strong>e-mail address:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="edit" href="#">Edit </a><br><br>
  <strong>Contact Person:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="edit" href="#">Edit </a><br><br>
  <strong>Contact No:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="edit" href="#">Edit </a><br><br>
</div>
</div>
<div class="card border-light mb-3" style="max-width: 60rem;">
<div class="card-header">Bank Details</div>
<div class="card-body">
  <strong>Bank:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="edit" href="#">Edit </a><br><br>
  <strong>Account Name:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="edit" href="#">Edit </a><br><br>
  <strong>Account Number:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="edit" href="#">Edit </a><br><br>

</div>
</div>

        </div>
</div>
<div class="col-md-9">
        <div class="manage-account">
          <div class="card border-primary mb-3" style="max-width: 60rem;">
  <div class="card-header">Manage Account:</div>
  <div class="card-body">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="change-password" href="#">Change Password </a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="change-email" href="#">Change email address </a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="delete-account" href="#">Delete Account </a><br>

  </div>
</div>

        </div>

</div>
