.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 60px;
}

.manage-account {
  padding: 20px;
  background: #fff;
  min-height: 60px;
}

.container {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 5px 5px 30px;
  margin: 0 auto 25px;
  margin-top: 5px;

}

label {
  color: #000000 !important;
  background-color: #999;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}
