<div class="col-md-9">

        <div class="profile-content">
          <div class="card border-light mb-3" style="max-width: 60rem;">
  <div class="card-header">Basic Info<div style="text-align:right"><a class="edit" href="#">Edit </a></div></div>
  <div class="card-body">
    <h4 class="card-title">Business Name : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.businessName}}</h4>
    <h5 class="card-title">Business Tagline :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{this.profile.tagline}}</h5>
    <p class="card-text">Description : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{this.profile.description}}</p>
  </div>
</div>
<div class="card border-light mb-3" style="max-width: 60rem;">
<div class="card-header">Contact Details<div style="text-align:right"><a class="edit" href="#">Edit </a></div></div>
<div class="card-body">
  <strong>Address: {{this.profile.businessAddress}}</strong><br><br>
  <strong>e-mail address: {{this.profile.contactEmail}}</strong><br><br>
  <strong>Contact Person: {{this.profile.contactName}}</strong><br><br>
  <strong>Contact No: {{this.profile.contactNo}}</strong><br><br>
</div>
</div>
<div class="card border-light mb-3" style="max-width: 60rem;">
<div class="card-header">Bank Details<div style="text-align:right"><a class="edit" href="#">Edit </a></div></div>
<div class="card-body">
  <strong>Bank: {{this.profile.bank}}</strong><br><br>
  <strong>Account Name: {{this.profile.accountName}}</strong><br><br>
  <strong>Account Number: {{this.profile.accountNo}}</strong><br><br>

</div>
</div>

        </div>
</div>
<div class="col-md-9">
        <div class="manage-account">
          <div class="card border-primary mb-3" style="max-width: 60rem;">
  <div class="card-header">Manage Account:</div>
  <div class="card-body">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="change-password" href="#">Change Password </a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="change-email" href="#">Change email address </a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="delete-account" href="#">Delete Account </a><br>

  </div>
</div>

        </div>

</div>
