<br>
<br>
<br>
<div class="jumbotron">
  <h2 class="display-3">Features</h2>
  <p class="lead">Transaction Tracker allows Suppliers and Dealers to keep record of transactions and interact more conveniently by allowing them to share information.</p>
  <hr class="my-4">
  <p>Features:</p>
  <ul>
    <li>Keep track of Transaction Records </li>
    <li>Receive notifications </li>
    <li>Post about products </li>
    <li>Add your partners to your circle, view their posts </li>
    <li>Messaging</li>
  </ul>

</div>
